<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary"><i class="fa fa-plus-circle"></i> Add Contact</p>
            <p class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, repellat eum? Quidem quisquam blanditiis porro.
            </p>
        </div>
    </div>
</div>
<!-- contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="photo url">
                </div>
                <div class="mb-2">
                    <input type="email" class="form-control" placeholder="Email Id">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Mobile No.">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Select a Group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-success" value="Create">
                    <a routerLink="/" class="btn btn-warning ml-2">Close</a>
                </div>
            </form>
        </div>

        <div class="col-sm-4 contact-img">
            <img src="../../assets/image/1.png" alt="">
        </div>
    </div>
</div>