<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary"><i class="fa fa-eye"></i> View Contact</p>
            <p class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, repellat eum? Quidem quisquam blanditiis porro.
            </p>
        </div>
    </div>
</div>

<!-- view contact details -->
<div class="container">
    <div class="row">
        <div class="col-sm-4 contact-img">
            <img src="../../assets/image/1.png" alt="user">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                    <span class="fw-bold">Name</span>
                </li>
                <li class="list-group-item list-group-item-success"> E-mail :
                    <span class="fw-bold">shorif@gmail.com</span>
                </li>
                <li class="list-group-item list-group-item-success"> Mobile :
                    <span class="fw-bold">01010101</span>
                </li>
                <li class="list-group-item list-group-item-success"> Company :
                    <span class="fw-bold">company</span>
                </li>
                <li class="list-group-item list-group-item-success"> Title :
                    <span class="fw-bold">title</span>
                </li>
                <li class="list-group-item list-group-item-success"> Group Name :
                    <span class="fw-bold">Family</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col mt-4">
            <a routerLink="/" class="btn btn-warning"><i class="fa fa-arrow-alt-circle-left"></i> Go Back</a>
        </div>
    </div>
</div>