<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary"><i class="fa fa-eye"></i> View Contact</p>
            <p class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, repellat eum? Quidem quisquam blanditiis porro.
            </p>
        </div>
    </div>
</div>

<!-- Condition base Spinner and error message code here -->
<!-- Condition based Loading -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
  
  <!-- Display Error Message -->
  
  <div *ngIf="!loading && errorMessage">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
        </div>
      </div>
    </div>
  </div>

<!-- view contact details -->
<div class="container" *ngIf="!loading && isNotEmpty()">
    <div class="row">
        <div class="col-sm-4 contact-img">
            <img src="{{contact.photo}}" alt="user">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">Name :
                    <span class="fw-bold">{{contact.name}}</span>
                </li>
                <li class="list-group-item list-group-item-success"> E-mail :
                    <span class="fw-bold">{{contact.email}}</span>
                </li>
                <li class="list-group-item list-group-item-success"> Mobile :
                    <span class="fw-bold">{{contact.mobile}}</span>
                </li>
                <li class="list-group-item list-group-item-success"> Company :
                    <span class="fw-bold">{{contact.company}}</span>
                </li>
                <li class="list-group-item list-group-item-success"> Title :
                    <span class="fw-bold">{{contact.title}}</span>
                </li>
                <li class="list-group-item list-group-item-success"> Group Name :
                    <span class="fw-bold">{{group.name}}</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- <pre>{{contact | json}}</pre> -->
    <!-- <pre>{{group | json}}</pre> -->

    <div class="row">
        <div class="col mt-4">
            <a routerLink="/" class="btn btn-warning"><i class="fa fa-arrow-alt-circle-left"></i> Go Back</a>
        </div>
    </div>
</div>